<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update</title>
</head>
<body>
<h1>Update duan</h1>
<p><a th:href="@{/duan}">Back To List Blog</a></p>
<div>
  <form th:action="@{/duan/update}" method="post" th:object="${duan}">
    <div>
      <label>MaDuAn:</label>
      <span th:text="*{maDuAn}"></span>
      <input type="hidden" th:field="*{maDuAn}">
    </div>
      <div>
          <label>ten:</label>
          <input type="text" th:field="*{tenDuAn}">
          <span th:if="${#fields.hasErrors('tenDuAn')}" th:errors="*{tenDuAn}"></span>
      </div>
      <div>
          <label>kinhPhi:</label>
          <input type="text" th:field="*{kinhPhi}">
          <span th:if="${#fields.hasErrors('kinhPhi')}" th:errors="*{kinhPhi}"></span>
      </div>
      <div>
          <label>mota:</label>
          <input type="text" th:field="*{moTa}">
          <span th:if="${#fields.hasErrors('moTa')}" th:errors="*{moTa}"></span>
      </div>

      <div>

          <label>thoigian:</label>
          <input type="date" th:field="*{thoiGian}">
          <span th:if="${#fields.hasErrors('thoiGian')}" th:errors="*{thoiGian}"></span>
      </div>
      <div>
          <label>ngaydangKy:</label>
          <input type="date" th:field="*{ngayDangKy}">
          <span th:if="${#fields.hasErrors('ngayDangKy')}" th:errors="*{ngayDangKy}"></span>
      </div>
      <div>
          <select th:field="*{doanhnghiep}">
              <option th:each="c: ${doanhnghieps}" th:text="${c.tenDoanhNghiep}" th:value="${c.maDoanhNghiep}"></option>
          </select>
      </div>
    <input type="submit" value="Update">
  </form>

</div>
</body>
</html>