<h1>Update Product</h1>

<form [formGroup]="productForm" (ngSubmit)="updateProduct(id)">
  <table>
    <tr>
      <td>Mã Sản Phẩm :</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên Sản Phẩm :</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá Sản Phẩm :</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mã Sản Phẩm :</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Cập Nhập</button></td>
    </tr>
  </table>
</form>
