.header{
    background-color: black;
}
.header ul li{
    padding: 15px;
    color: white;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;

}
*{
    margin: 0 auto;
}
.left{
    float: left;
    background-color: gray;
    height: 500px;
}
.mid{
    float: left;
    background-color: white;
    height: 500px;
}
.right{
    float: left;
    background-color: gray;
    height: 500px;
}
.footer{
    clear: both;
    color: white;
    background-color: #6b6b6b;
    height: 100px;
    text-align: center;

}
.main{
    background-color: #7abaff;
}
.main ul li a{
    text-decoration: none;

}
.main ul li{
    list-style: none;
}
.ads{
    border: solid  1px;
    width: 70px;
    height: 50px;
    margin: 50px;
    padding: 20px;
    text-align: center;
    padding-top: 35px;
}
@media only screen and (max-width:376px ){
    .col-xs-1 {width: 8.33333%;}
    .col-xs-2 {width: 16.66667%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33333%;}
    .col-xs-5 {width: 41.66667%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33333%;}
    .col-xs-8 {width: 66.66667%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33333%;}
    .col-xs-11 {width: 91.66667%;}
    .col-xs-12 {width: 100%;}
    li{
        text-align: center;
        color: red;
    }
}
@media only screen and (min-width:377px )and (max-width:740px ){
    .col-s-1 {width: 8.33333%;}
    .col-s-2 {width: 16.66667%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33333%;}
    .col-s-5 {width: 41.66667%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33333%;}
    .col-s-8 {width: 66.66667%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33333%;}
    .col-s-11 {width: 91.66667%;}
    .col-s-12 {width: 100%;}
    li{
        text-align: center;
        color: red;
    }
}
.col-md-1 {width: 8.33333%;}
.col-md-2 {width: 16.66667%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33333%;}
.col-md-5 {width: 41.66667%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33333%;}
.col-md-8 {width: 66.66667%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33333%;}
.col-md-11 {width: 91.66667%;}
.col-md-12 {width: 100%;}

@media only screen and (min-width:1241px){
    .col-l-1 {width: 8.33333%;}
    .col-l-2 {width: 16.66667%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33333%;}
    .col-l-5 {width: 41.66667%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33333%;}
    .col-l-8 {width: 66.66667%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33333%;}
    .col-l-11 {width: 91.66667%;}
    .col-l-12 {width: 100%;}
}
a{
    text-decoration: none;
}