<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{student/list::headed}"></div>
<p><a th:href="@{classname/create}">Create ClassName</a></p>
<div th:if="${msg}">
    <div>
        <span th:text="${msg}"></span>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row:${classnames}" th:object="${row}">
        <th th:text="${row.idClass}"></th>
        <td th:text="${row.className}"></td>
        <td><a th:href="@{classname/{id}/edit(id=${row.getIdClass()()})}">Update</a></td>
        <td><a th:href="@{classname/{getIdClass}/delete(getIdClass=${row.getIdClass()})}">delete</a></td>
    </tr>
    </tbody>
</table>
</body>
<div th:replace="~{layout::script}"></div>
</html>