<h1>Danh Sách Khách Hàng</h1>
<a routerLink="/product/create">Tạo Sản Phẩm</a>
<table class="table">
  <thead>
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Giá</th>
    <th>Mô Tả</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products ; index as i">
    <td scope="row">{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><a [routerLink]="['/product/update',product.id]">Edit</a></td>
    <td><a [routerLink]="['/product/delete',product.id]">Delete</a></td>
  </tr>
  </tbody>
</table>
