<div class="menu">
  <ul class="nav">
    <li class="nav-item nav-menu">
      <a class="nav-link active" style="color: #f3f3f3; font-size: 20px" href="http://localhost:4200/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: #f3f3f3; font-size: 20px" routerLink="/employee/list">Danh sách nhân viên</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: #f3f3f3; font-size: 20px" routerLink="/customer/list">Danh sách khách hàng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link "  style="color: #f3f3f3; font-size: 20px"routerLink="/service/list">Dịch vụ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link "  style="color: #f3f3f3; font-size: 20px" routerLink="/contract/list">Hợp đồng </a>
    </li>
    <li class="nav-item">
      <a class="nav-link "  style="color: #f3f3f3; font-size: 20px"href="#">Hợp đồng chi tiết</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " style="color: #f3f3f3; font-size: 20px" href="#">Đăng kí sử dụng dịch vụ</a>
    </li>
  </ul>
</div>
<br>
<br>
