<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View to Product</title>
</head>
<body>
<h3>View to Product</h3>
<p><a th:href="@{/product}">Back To product List</a></p>
<div id =detail>
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>
    <div class="cusdetail">
        <label>Price:</label>
        <label th:text="${product.price}"></label>
    </div>
    <div class="cusdetail">
        <label>Describe:</label>
        <label th:text="${product.describe}"></label>
    </div>
    <div class="cusdetail">
        <label>Producer:</label>
        <label th:text="${product.producer}"></label>
    </div>
</div>
</body>
</html>