<br>
<div style="text-align: center">
  <a routerLink="/service/create">
    <button type="button" class="btn btn-primary">Thêm mới dịch vụ</button></a>
</div>
<br>
<div style="text-align: center">
  <input type="text" placeholder="Input name" >
  <button >Search</button>
</div>
<br>
<h1 style="text-align: center; color: blue">Danh sách dịch vụ</h1>
<table style="margin: 0 auto" class="table table-striped table-hover ">
  <tr>
    <td>STT</td>
    <td>ID</td>
    <td>Name</td>
    <td>Diện tích</td>
    <td>Số tầng</td>
    <td>Số người tối đa</td>
    <td>Chi phí thuê</td>
    <td>Kiểu thuê</td>
    <td>Trạng thái</td>
    <td></td>
    <td></td>
  </tr>
  <tr *ngFor="let s of services| paginate: { itemsPerPage: 5, currentPage: p }; index as i">
    <td>{{i+1}}</td>
    <td>{{s.idService}}</td>
    <td>{{s.nameService}}</td>
    <td>{{s.dienTichService}} m²</td>
    <td>{{s.soTangService}}</td>
    <td>{{s.soNguoiToiDa}}</td>
    <td>{{s.chiPhiThue}}</td>
    <td>{{s.rentalType.nameRentalType}}</td>
    <td>{{s.trangThai}}</td>
    <td><a routerLink="/service/edit/{{s.id}}" class="btn btn-primary" style="background: none"><i class="fa-solid fa-pen-to-square" style="color: #57cb74;"></i></a></td>
    <td><a class=" btn btn-primary" data-toggle="modal" data-target="#delete" (click)=getService(s.id)  style="background: none"><i class="fa-solid fa-trash" style="color: #d41616;"></i></a></td>
    <td><a type="button" class="btn btn-primary" data-toggle="modal" (click)=getService(s.id) data-target="#view" style="background: none"><i class="fa-solid fa-circle-info" style="color: #145ddb;"></i></a></td>
  </tr>
</table>
<pagination-controls (pageChange)="p = $event" previousLabel="Trước"
                     nextLabel="Sau" style="text-align: center"></pagination-controls>


<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-danger" id="exampleModalLabel" >Bạn có muốn xóa dịch vụ này?</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>Id:</td>
            <td>{{service?.id}}</td>
          </tr>
          <tr>
            <td>Tên:</td>
            <td>{{service?.nameService}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">Xác nhận xóa</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal view-->
<div class="modal fade" id="view" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 style="color: blue">Thông tin chi tiết khách hàng</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">Đóng</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-hover ">
          <tr>
            <td>Mã dịch vụ:</td>
            <td>{{service?.idService}}</td>
          </tr>
          <tr>
            <td>Tên dịch vụ:</td>
            <td>{{service?.nameService}}</td>
          </tr>
          <tr>
            <td>Diện tích:</td>
            <td>{{service?.dienTichService}} m²</td>
          </tr>
          <tr>
            <td>Số tầng:</td>
            <td>{{service?.soTangService}}</td>
          </tr>
          <tr>
            <td>Số người tối đa:</td>
            <td>{{service?.soNguoiToiDa}}</td>
          </tr>
          <tr>
            <td>Chi phí thuê:</td>
            <td>{{service?.chiPhiThue}}</td>
          </tr>
          <tr>
            <td>Kiểu thuê:</td>
            <td>{{service?.rentalType.nameRentalType}}</td>
          </tr>
          <tr>
            <td>Trạng thái:</td>
            <td>{{service?.trangThai}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
