<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <p *ngIf="productForm.controls.name.touched && productForm.controls.name.errors?.required">Không thể để trống</p>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <p *ngIf="productForm.controls.price.touched && productForm.controls.price.errors?.required">Không thể để trống</p>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <p *ngIf="productForm.controls.description.touched && productForm.controls.description.errors?.required ">Không thể để trống</p>
    <tr>
      <td>Danh mục sản phẩm</td>
      <td><select formControlName="category">
        <option selected [value]="null">Chọn danh mục sản phẩm</option>
        <option *ngFor="let category of categories" [ngValue]="category">{{category.nameCategory}}</option>
      </select></td>
    </tr>
    <p *ngIf="productForm.controls.category.errors?.required ">Không thể để trống</p>
    <tr>
      <td></td>
      <td>
        <button [disabled]="productForm.invalid">Tạo mới</button>
      </td>
    </tr>
  </table>
</form>
